// **********************************
//+++++++++++ $LAYOUTS +++++++++++++++
//************************************
body {
    background-color: map-get($colores, gris);
}

div.fondo__humo{
    height: 100vh;
}

header.header__humo{
    height: 20vh;
    }
section.banner__humo {
    display: flex;
    align-items: flex-end;
    background-color: black;
    height: 80vh;
    @include media(escritorio){
        @include flexbox($jc:center, $ai:flex-end, $fd:row);
        width: auto;
    }
}


//Tamaño del video
video.video__banner__humo{
    width: 100%;
    @include media(escritorio){
        width: auto;
    }
    
}
// /* ----------------------------------------*/
// /* ---------------- SLIDER ---------------*/
// /* ----------------------------------------*/

.slider {
    position: relative;

    &__contenedor {
        position: relative;
        overflow: hidden;
        width: 100%;

        /* esto al hacer click se abrir una imagen hermana de input que se ha clickeado  */

        &__diapostiva-open:checked+&__diapostiva-item {
            position: static;
            opacity: 100;
        }

        &__diapostiva-item {
            position: absolute;
            opacity: 0;
            transition: opacity 0.6s ease-out;

            source,
            img {
                display: block;
                height: auto;
                width: 100%;
                max-width: 100%;
            }

        }


        /* Propiedades de las flechas antes de pasar el raton */
        &__diapostiva-control {
            background: rgba(0, 0, 0, 0.28);
            border-radius: 50%;
            color: map-get($colores, blanco);
            cursor: pointer;
            display: none;
            font-size: 40px;
            height: 40px;
            line-height: 35px;
            position: absolute;
            top: 40%;

            text-align: center;
            width: 40px;
            z-index: 10;
        }

        /* posicion de las flechas en los laterales del banner */
        &__diapostiva-control.prev {
            left: 2%;
        }

        &__diapostiva-control.next {
            right: 2%;
        }


        /* propiedades al hacer click sobre las flechas, se cambia el color */
        &__diapostiva-control:hover {
            background: rgba(0, 0, 0, 0.8);
            color: map-get($colores, gris_redes);
        }

        &__diapostiva-indicatores {
            list-style: none;
            margin: 0;
            padding: 0;
            position: absolute;
            bottom: 2%;
            left: 0;
            right: 0;
            text-align: center;
            z-index: 10;

            li {
                display: inline-block;
                margin: 0 5px;
            }

            /*  color por defecto de indicadores */
            &__diapostiva-circulo {
                color: map-get($colores, blanco);
                cursor: pointer;
                display: block;
                font-size: 35px;

                &:hover {
                    color: map-get($colores, gris_redes);
                }
            }

        }

    }
}

#diapostiva-1:checked~.control-1,
#diapostiva-2:checked~.control-2,
#diapostiva-3:checked~.control-3 {
    display: block;
}


/*  color de la posicion actual en los indicadores circulares*/
#diapostiva-1:checked~.control-1~.slider__contenedor__diapostiva-indicatores li:nth-child(1) .slider__contenedor__diapostiva-indicatores__diapostiva-circulo,
#diapostiva-2:checked~.control-2~.slider__contenedor__diapostiva-indicatores li:nth-child(2) .slider__contenedor__diapostiva-indicatores__diapostiva-circulo,
#diapostiva-3:checked~.control-3~.slider__contenedor__diapostiva-indicatores li:nth-child(3) .slider__contenedor__diapostiva-indicatores__diapostiva-circulo {
    color: #428bca;
}

// fin estilo SLIDER


//************ pagina eventos.html ***************
//************************************************
// ********** Bloque SECCION Descubrenos**********

.eventos {
    @include centrarCaja ($ancho: 90%, $mtop:50, $mbottom:0);
    margin-top: 50px;

    color: map-get($colores, negro);

    @each $icono in $iconos {
        &__svg {
            @include centrarCaja ($ancho: 80%, $mtop:0, $mbottom:25px);
            @include flexbox($jc: space-between, $ai:center, $fd:row);

            &__#{$icono} {
                /*propiedes de los iconos principales de las cajas*/
                background-image: url(../fonts/iconos/svg/#{$icono}.svg);
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                height: 160px;
                width: 160px;

            }
        }

        &__texto {
            text-align: justify;
            line-height: 25px;

        }

        &__contacto {
            ul {
                @include flexbox($jc: left, $ai:center, $fd:column);

                li {
                    list-style-type: square;
                    max-width: 500px;

                }
            }
        }

    }


  
}
