// <!--****************************************** 
// ********** INICIO SECTION INDEX.html*****************
section {
   // max-width: 1366px;
    margin: 0 auto;
}

//CAJA PRINCIPAL
section.contenido {
    margin-top: 50px;

    a {
        text-decoration: none;
    }

    //pripiedades escritorio: grid 2 columns x 2 filas
    @include media(escritorio) {
        padding-top: 50px;

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-column-gap: 100px;
        grid-row-gap: 50px;

        font-size: 1.2rem;
        @include centrarCaja ($ancho: 90%, $mtop:0, $mbottom:0);
    }

}


// ********** Bloque DESCUBRENOS  -INDEX-*****************


.contenido__descubrenos {
    margin-top: 40px;

    @include media(escritorio) {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    &__caja {
        @include centrarCaja ($ancho: 85%, $mtop:0, $mbottom:0);
        background-color: map-get($colores, gris_Info);
        padding-top: 20px;

        @include media(escritorio) {
            padding-top: 0px;

            @include centrarCaja ($ancho: 100%, $mtop:0, $mbottom:0);

            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 120px 60px;
            grid-row-gap: 20px;

            font-size: 1.2rem;

            @include flexbox($jc: end, $ai:center, $fd:column);

        }

        h4 {
            font-weight: bold;
            padding-top: 0px;
            text-align: center;
            color: black;

            @include media(escritorio) {
                display: none;
            }

        }

        &__evento {
            @include flexbox($jc: center, $ai:center, $fd:row);

            @include media(escritorio) {
                grid-column: 1/2;
                grid-row: 1/2;
            }

            &__pastel {
                width: 120px;
                height: 120px;
                background-image: url('../fonts/iconos/pastel.svg');
                @extend %icon-background;

                @include media(escritorio) {
                    width: 150px;
                    height: 150px;
                }
            }

            &__boda {
                width: 120px;
                height: 120px;
                background-image: url('../fonts/iconos/boda.svg');
                @extend %icon-background;

                @include media(escritorio) {
                    width: 150px;
                    height: 150px;
                }
            }


        }

        &__texto {
            display: none;

            @include media(escritorio) {
                display: block;
                margin-bottom: 50px;
                color: black;

                grid-column: 1/2;
                grid-row: 2/3;
            }

        }

        a {
            text-decoration: none;
            color: map-get($colores, blanco);
        }

    }





    div.descubrenos__contacto {
        width: 100%;
        height: 0px;
        background: map-get($colores, negro);
        text-align: center;
        padding: 20px;
        margin-bottom: 40px;

        @include media(escritorio) {
            width: 100%;
        }
    }

}


// ********** Bloque SECCION QUIENES SOMOS -INDEX-*****************


.contenido__quienessomos {
    margin-top: 50px;
    margin-bottom: 50px;

    @include media(escritorio) {
        margin-top: 0px;
        grid-column: 1/3;
        grid-row: 2/3;
    }

    &__caja {
        @include flexbox($jc: center, $ai:center, $fd:column);
        text-align: justify;

        @include media(escritorio) {
            margin: 0px;
            padding: 0px;

            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows:  1fr;
            grid-column-gap: 100px;
            grid-row-gap: 20px;

        }

        &__foto {
            border: 1px solid black;
          & source  {
              width: 100%; 
          }

          & img  {
            width: 100%; 
        }

  
        }

        &__pie {
            width: 100%;
            padding: 0px;

            h1 {
                font-size: 1.5rem;
                font-family: bold;
                text-align: center;
            }

            @include media(escritorio) {
                width: 100%;
                // @include flexbox($jc: center, $ai:center, $fd:column);
                
                grid-column: 2/3;
                grid-row: 1/2;
            }

        }


    }

    
}

// GOOGLE MAPS GRANDE
.googlemaps__grande {
    display: none;
    @include media(escritorio) {
        display: block;
        grid-column: 2/3;
        grid-row: 1/2;
        
        iframe {
            height: 320px;
            width: 100%;
        }

        h3 {
            margin-bottom: 10px;
            font-weight: bold;
            font-size: 1.5rem;
            text-align: center;
        }
    }
}

// GOOGLE MAPS PEQUEÑO
.googlemaps__pequeno {
    @include flexbox;
    margin-top: 50px;

    iframe {
        @include centrarCaja ($ancho: 100%, $mtop:0, $mbottom:0);

    }

    @include media(escritorio) {
        display: none;
    }

}


// ********** FIN SECTION INDEX.html*****************
// <!--****************************************** 




// <!--****************************************** 
// ********** Bloque SECTION PRODUCTOS*****************
// **********************************************-->
.productos {
    @include centrarCaja ($ancho: 90%, $mtop:40px, $mbottom:40px);
    color: black;

    @include media(escritorio) {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 330px 330px 330px;
        grid-row-gap: 80px;
        //grid-column-gap: 100px;
    }

    // ------ PRODUCTO 1  ------
    &__p1 {
        @include media(escritorio) {
            grid-column: 1/2;
            grid-row: 1/2;
        }

        &__caja {
            text-align: center;

            @include media(escritorio) {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr;
                grid-column-gap: 100px;
            }

            &__foto {
                width: 100%;

                // height: 250px;
                @include media(escritorio) {
                    grid-column: 1/2;
                    grid-row: 1/2;
                    width: 100%;

                    & source {
                        width: 100%;
                        height: 400px;
                    }
                }

                & source {
                    width: 100%;
                    //height: 250px;
                }

                & img {
                    width: 100%;
                    //height: 250px;
                }
            }

            &__pie {
                @include flexbox($jc: space-between, $ai:center, $fd:column);
                margin-bottom: 50px;
    
                @include media(escritorio) {
                    grid-column: 2/3;
                    grid-row: 1/2;
                    @include flexbox($jc: space-between, $ai:center, $fd:column);
                    margin: 0px;
    
                    &__decor_Arriba {
                        background-image: url(../fonts/iconos/decor_arriba.svg);
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: 100%;
                        height: 35px;
                        width: 50%;
                    }
                }
    
                &__nom {
                    margin-top: 25px;
                    margin-bottom: 25px;
                    font-size: 25px;
                    font-weight: bold;
                }
    
                &__texto {
                    text-align: justify;
                }
    
                &__decor_Abajo {
                    margin-top: 25px;
                    background-image: url(../fonts/iconos/decor_abajo.svg);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: 100%;
                    height: 50px;
                    width: 100%;
    
                    @include media(escritorio) {
                        margin-top: 25px;
                        background-image: url(../fonts/iconos/decor_abajo.svg);
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: 100%;
                        height: 50px;
                        width: 100%;
                    }
                }
            }
        }

        
    }
}


.productos {

    // ------ PRODUCTO 1  ------
    &__p2 {
        @include media(escritorio) {
            grid-column: 1/2;
            grid-row: 2/3;
        }

        &__caja {
            text-align: center;

            @include media(escritorio) {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr;
                grid-column-gap: 100px;
            }

            &__foto {
                width: 100%;

                // height: 250px;
                @include media(escritorio) {
                    grid-column: 1/2;
                    grid-row: 1/2;
                    width: 100%;

                    & source {
                        width: 100%;
                        height: 400px;
                    }
                }

                & source {
                    width: 100%;
                    //height: 250px;
                }

                & img {
                    width: 100%;
                    //height: 250px;
                }
            }

            &__pie {
                @include flexbox($jc: space-between, $ai:center, $fd:column);
                margin-bottom: 50px;
    
                @include media(escritorio) {
                    grid-column: 2/3;
                    grid-row: 1/2;
                    @include flexbox($jc: space-between, $ai:center, $fd:column);
                    margin: 0px;
    
                    &__decor_Arriba {
                        background-image: url(../fonts/iconos/decor_arriba.svg);
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: 100%;
                        height: 35px;
                        width: 50%;
                    }
                }
    
                &__nom {
                    margin-top: 25px;
                    margin-bottom: 25px;
                    font-size: 25px;
                    font-weight: bold;
                }
    
                &__texto {
                    text-align: justify;
                }
    
                &__decor_Abajo {
                    margin-top: 25px;
                    background-image: url(../fonts/iconos/decor_abajo.svg);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: 100%;
                    height: 50px;
                    width: 100%;
    
                    @include media(escritorio) {
                        margin-top: 25px;
                        background-image: url(../fonts/iconos/decor_abajo.svg);
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: 100%;
                        height: 50px;
                        width: 100%;
                    }
                }
            }
        }

        
    }
}

.productos {

    // ------ PRODUCTO 3  ------
    &__p3 {
        @include media(escritorio) {
            grid-column: 1/2;
            grid-row: 3/4;
        }

        &__caja {
            text-align: center;

            @include media(escritorio) {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr;
                grid-column-gap: 100px;
            }

            &__foto {
                width: 100%;

                // height: 250px;
                @include media(escritorio) {
                    grid-column: 1/2;
                    grid-row: 1/2;
                    width: 100%;

                    & source {
                        width: 100%;
                        height: 400px;
                    }
                }

                & source {
                    width: 100%;
                    //height: 250px;
                }

                & img {
                    width: 100%;
                    //height: 250px;
                }
            }

            &__pie {
                @include flexbox($jc: space-between, $ai:center, $fd:column);
                margin-bottom: 50px;
    
                @include media(escritorio) {
                    grid-column: 2/3;
                    grid-row: 1/2;
                    @include flexbox($jc: space-between, $ai:center, $fd:column);
                    margin: 0px;
    
                    &__decor_Arriba {
                        background-image: url(../fonts/iconos/decor_arriba.svg);              
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: 100%;
                        height: 35px;
                        width: 50%;
                    }
                }
    
                &__nom {
                    margin-top: 25px;
                    margin-bottom: 25px;
                    font-size: 25px;
                    font-weight: bold;
                }
    
                &__texto {
                    text-align: justify;
                }
    
                &__decor_Abajo {
                    margin-top: 25px;
                    background-image: url(../fonts/iconos/decor_abajo.svg);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: 100%;
                    height: 50px;
                    width: 100%;
    
                    @include media(escritorio) {
                        margin-top: 25px;
                        background-image: url(../fonts/iconos/decor_abajo.svg);
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: 100%;
                        height: 50px;
                        width: 100%;
                    }
                }
            }
        }

        
    }
}

// ********** FIN  PRODUCTOS*****************
// **********************************************-->

// <!--****************************************** 
// ********** Bloque SECTION SOBRE NOSOTROS*****************
// **********************************************-->
section.sobrenosotros {
    color: #000;
    text-align: center;

    h2 {
        margin: 20px 0;
        font-weight: bold;
    }

    figcaption {
        margin: 20px;
        text-align: center;
        color: black;
        padding: 20px 0;

    }

    .sobrenosotros--fondo {
        background-color: map-get($colores, gris_Info);
    }

    .sobrenosotros__pau {
        @include centrarCaja ($ancho: 80%, $mtop:40px, $mbottom:40px);

        img {
            margin-top: 40px;
            border: 1px solid black;
            margin-top: 20px;
        }
    }

    .sobrenosotros__cocina {
        @include media(escritorio) {
            border: 2px solid black;
        }
    }



    //Version escritorio
    @include media(escritorio) {
        figure {
            @include centrarCaja ($ancho: 80%, $mtop:40px, $mbottom:40px);
            padding: 40px;
            display: flex;
        }

        figcaption {
            text-align: left;
            padding: 0 40px;
        }

    }

    // SECTION GOOGLE MAPS
}

section.googlemaps__pequeno {

    margin-bottom: 40px;

    @include media(escritorio) {
        display: none;
    }
}

section.googlemaps__grande {

    @include media(movil) {
        display: none;
    }

    @include media(escritorio) {
        @include centrarCaja ($ancho: 90%, $mtop:40px, $mbottom:100px);
        display: flex;
    }
}


// ********** FIN  SOBRE NOSOTROS*****************
// **********************************************-->