
// <!--****************************************** 
// ********** INICIO SECTION INDEX.html*****************

//CAJA PRINCIPAL
section.contenido {
    a {
        text-decoration: none;
    }
    @include media(escritorio) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        font-size: 1.2em;
        &__descubrenos {
           
        }

    }
   
}

// <!--****************************************** 
// ********** Bloque DESCUBRENOS  -INDEX-*****************
// **********************************************-->


section.contenido__descubrenos {
    a {
        text-decoration: none;
        color: white;
    }

    h3 {
        font-weight: bold;
        padding-top: 40px;
        text-align: center;
        color: black;
        font-weight: bold;
        @include media(escritorio) {
         display: none;
        }
    }
       
       p{
           display: none;
           @include media(escritorio) {
               display: block;
               margin-bottom: 25px;
               color: black;
           }
       }
       @include media(escritorio){
        @include flexbox($jc:center, $ai:center, $fd:row);
       }
       

    div.descubrenos__evento {

        @include flexbox($jc: center, $ai:center, $fd:row);

        &__pastel {
            width: 120px;
            height: 120px;
            background-image: url('../fonts/iconos/pastel.svg');
            @extend %icon-background;
            @include media(escritorio) {
                width: 150px;
                height: 150px;
            }

        }

        &__boda {
            width: 120px;
            height: 120px;
            background-image: url('../fonts/iconos/boda.svg');
            @extend %icon-background;
            @include media(escritorio) {
                width: 150px;
                height: 150px;
            }
        }


    }

    div.descubrenos__contacto {
        width: 100%;
        height: 40px;
        background: black;
        text-align: center;
        padding: 20px;
        margin-bottom: 40px;
        @include media(escritorio){
         width: 50%
        
        }
       
    }
}


// <!--****************************************** 
// ********** Bloque SECCION QUIENES SOMOS -INDEX-*****************
// **********************************************-->

section.contenido__quienessomos {

    width: 100%;

    figure {

        text-align: center;

        a {
            text-decoration: none;
        }

        img {
            margin-top: 20px;
            width: 175px;
            height: 230px;
            border: 1px solid black;
            margin-bottom: 20px;
           
        }

        figcaption {
            @include centrarCaja ($ancho: 90%, $mtop:0, $mbottom:0);
            color: black;
            margin-bottom: 50px;

            h1 {}
        }


    }
    @include media(escritorio){
        grid-column: 1/3;
            grid: 1/3;
           
            @include flexbox;
            @include centrarCaja ($ancho: 50%, $mtop:0, $mbottom:0);
            figure{
                display: flex;
                flex-direction: row;
               
            }
            figcaption{
                padding-left: 20px;
                padding-top: 10px;
                color: black;
                a.descubrenos__contacto{
                margin-top: 20px;
                margin-left: 20px;
                margin-right: 20px;
                }
            }
    }
}
// GOOGLE MAPS GRANDE
section.googlemaps__grande{
 @include flexbox($jc:center, $ai:center, $fd:column);
    @include media(escritorio){
    grid-column: 2/3;
    grid-row: 1/2;
  
    h3{
        margin-bottom: 40px;
        color: black;
        font-weight: bold;
        font-size: 1.2em;
    }
}
}



// GOOGLE MAPS PEQUEÑO
section.googlemaps__pequeno {

    @include flexbox;

    iframe {
        @include centrarCaja ($ancho: 100%, $mtop:0, $mbottom:0);

    }

}



// ********** FIN SECTION INDEX.html*****************
// <!--****************************************** 


// <!--****************************************** 
// ********** Bloque SECTION PRODUCTOS*****************
// **********************************************-->
section.productos {
    @include centrarCaja ($ancho: 90%, $mtop:40px, $mbottom:40px);
    color: black;

    h2 {
        text-align: center;
        margin: 20px;
        font-weight: bold;
    }

    figure {
        text-align: center;
    }

    figcaption {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 10px;

    }

    div.productos__producto {
        padding: 20px;
        background-color: #B7ADAB;
    }

    @include media(escritorio) {
        @include centrarCaja ($ancho: 90%, $mtop:40px, $mbottom:40px);

    }

}


// <!--****************************************** 
// ********** Bloque SECTION SOBRE NOSOTROS*****************
// **********************************************-->
section.sobrenosotros {
    color: #000;
    text-align: center;

    h2 {
        margin: 20px 0;
        font-weight: bold;
    }

    figcaption {
        color: black;
        padding: 20px 0;

    }

    .sobrenosotros--fondo {
        background-color: #B7ADAB;
    }

    .sobrenosotros__pau {
        @include centrarCaja ($ancho: 90%, $mtop:40px, $mbottom:40px);

        &--img {
            margin-top: 40px;
            width: 200px;
            height: 280px;
            border: 1px solid black;
            margin-top: 20px;
        }
    }

    .sobrenosotros__cocina {
        @include centrarCaja ($ancho: 90%, $mtop:40px, $mbottom:40px);
        margin-top: 40px;
        width: 250px;
        height: 230px;
        border: 1px solid black;
    }


    //Version escritorio
    @include media(escritorio) {
        figure {
            @include centrarCaja ($ancho: 90%, $mtop:40px, $mbottom:40px);
            padding: 40px;
            display: flex;
        }

        figcaption {
            text-align: left;
            padding: 40px;
        }

    }

    // SECTION GOOGLE MAPS
}

section.googlemaps__pequeno {
    @include media(escritorio) {
        display: none;
    }
}

section.googlemaps__grande {
    @include media(movil) {
        display: none;
    }

    @include media(escritorio) {
        @include centrarCaja ($ancho: 90%, $mtop:40px, $mbottom:40px);
        display: flex;
    }
}