// <!--****************************************** 
// ********** Bloque DESCUBRENOS*****************
// **********************************************-->
section.descubrenos {
    a {
        text-decoration: none;
        color: white;
    }

    h3 {
        text-align: center;
        color: black;
        font-weight: bold;
    }

    div.descubrenos__evento {

        @include flexbox($jc: center, $ai:center, $fd:row);

        &__pastel {
            width: 120px;
            height: 120px;
            background-image: url('../fonts/iconos/pastel.svg');
            @extend %icon-background;

        }

        &__boda {
            width: 120px;
            height: 120px;
            background-image: url('../fonts/iconos/boda.svg');
            @extend %icon-background;
        }
    }

    div.descubrenos__contacto {
        width: 100%;
        height: 40px;
        background: black;
        text-align: center;
        padding: 20px;
        margin-bottom: 40px;
    }
}




// <!--****************************************** 
// ********** Bloque SECCION QUIENES SOMOS*****************
// **********************************************-->

section.quienessomos {

    width: 100%;


    figure {

        text-align: center;

        a {
            text-decoration: none;
        }

        img {
            margin-top: 20px;
            width: 175px;
            height: 230px;
            border: 1px solid black;
            margin-bottom: 20px;
        }

        figcaption {
            @include centrarCaja ($ancho: 90%, $mtop:0, $mbottom:0);
            color: black;
            margin-bottom: 50px;

            h1 {}
        }


    }
}

// <!--****************************************** 
// ********** Bloque GOOGLE MAPS PEQUEÑO*****************
// **********************************************-->

section.googlemaps__pequeno {

    @include flexbox;

    iframe {
        @include centrarCaja ($ancho: 100%, $mtop:0, $mbottom:0);

    }

}

// <!--****************************************** 
// ********** Bloque GOOGLE MAPS GRANDE*****************
// **********************************************-->

section.googlemaps__grande {

    @include flexbox;

    iframe {
        @include centrarCaja ($ancho: 100%, $mtop:0, $mbottom:0);

    }
}

// <!--****************************************** 
// ********** Bloque SECTION PRODUCTOS*****************
// **********************************************-->
section.productos {
    @include centrarCaja ($ancho: 90%, $mtop:40px, $mbottom:40px);
    color: black;

    h2 {
        text-align: center;
        margin: 20px;
        font-weight: bold;
    }

    figure {
        text-align: center;
    }

    figcaption {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 10px;

    }
    div.productos__producto{
        padding: 20px;
        background-color: #B7ADAB;
    }

    @include media(escritorio){
        @include centrarCaja ($ancho: 90%, $mtop:40px, $mbottom:40px);
       
       }
       
}



// <!--****************************************** 
// ********** Bloque SECTION SOBRE NOSOTROS*****************
// **********************************************-->
section.sobrenosotros {
    color: #000;
    text-align: center;

    h2 {
        margin: 20px 0;
        font-weight: bold;
    }

    figcaption {
        color: black;
        padding: 20px 0;

    }

    .sobrenosotros--fondo {
        background-color: #B7ADAB;
    }

    .sobrenosotros__pau {
        @include centrarCaja ($ancho: 90%, $mtop:40px, $mbottom:40px);

        &--img {
            margin-top: 40px;
            width: 200px;
            height: 280px;
            border: 1px solid black;
            margin-top: 20px;
        }
    }

    .sobrenosotros__cocina {
        @include centrarCaja ($ancho: 90%, $mtop:40px, $mbottom:40px);
        margin-top: 40px;
        width: 250px;
        height: 230px;
        border: 1px solid black;
    }


    //Version escritorio
    @include media(escritorio) {
        figure {
            @include centrarCaja ($ancho: 90%, $mtop:40px, $mbottom:40px);
            padding: 40px;
            display: flex;
        }

        figcaption {
            text-align: left;
            padding: 40px;
        }

    }

    // SECTION GOOGLE MAPS
}

section.googlemaps__pequeno {
    @include media(escritorio) {
        display: none;
    }
}

section.googlemaps__grande {
    @include media(movil) {
        display: none;
    }

    @include media(escritorio) {
        @include centrarCaja ($ancho: 90%, $mtop:40px, $mbottom:40px);
        display: flex;
    }
}