// **********************************
//+++++++++++ $ENLACES +++++++++++++++
//**********************************
@each $menu-links in link01, link02, link03, link04, link05, link06 {
    .gridHeader__#{$menu-links}{
        text-decoration: none;
        color:map-get($colores,gris); 
        font-size: map-get($hs, h2);
        border: 2px solid map-get($colores,gris);
        text-transform: capitalize;

        align-self: center;
        justify-self: center;
        padding: 15px 0px;
        width: 100%;

        &:hover{
            background-color: map-get($colores,azul-oscuro);
            color:  map-get($colores, blanco);
        }
    }
}


