// **********************************
//+++++++++++ $MENUS+++++++++++++++
//**********************************

.gridHeader {
    box-sizing: border-box;
    height: 100px;
    @include gridlayout ($gtrow:60px, $gtcolumn: repeat(6, 1fr), $gapC: 50px, $gapR: 0px);
    
    @include centrarCaja ($ancho: 85%, $mtop: 25px, $mbottom:25px);

    text-align: center;
}