// **********************************
//+++++++++++ $BOTONES +++++++++++++++
//***********************************

// CREACION DE BOTONES: ejemplo

.boton {
    display: block;
    width: 300px;
    padding: 1rem 2rem;
    color: white;
    background-color: black;
    border-radius: 3px;
    text-align: center;

    // esto es ANIDACION. SE RECOMIENDA UTILIZAR POCAS
    // (MAX 3)

    .boton__icon {
        font-size: 3rem;
    }

}

.btn_productos {
    @include media(escritorio) {
        @include centrarCaja ($ancho: 80%, $mtop:0, $mbottom:0);

    }
}

.btn_productos,
.descubrenos__contacto,
.descubrenos__contacto_smarphone,
.descubrenos__contacto_contacta {
    display: block;
    @extend %btn;

    background-color: black;

    //margin-bottom: 20px;
    a {
        text-decoration: none;
        color: white;

        &:visited {
            color: white;
        }
    }

}

.descubrenos__contacto_smarphone {
    @include media(escritorio) {
        display: none;
    }
}

.descubrenos__contacto {
    margin-bottom: 50px;

    @include media(escritorio) {
        display: none;
    }
}

.descubrenos__contacto_movil {
    display: none;

    @include media(escritorio) {
        display: block;
        margin-top: 30px;
        background-color: black;

        text-decoration: none;
        text-align: center;
        color: get-map($colores, negro);
        padding: 1rem 0.5rem;
        background-color: get-map($colores, negro);
        //border: 2px solid map-get($colores, blanco);
        border-radius: 0px;
    
        &:hover {
            background-color: map-get($colores, gris_oscuro);
            color: map-get($colores, blanco);
            font-weight: bold;
        }
    
        &:visited {
            color: map-get($colores, blanco);
        }

        //margin-bottom: 20px;
        a {
            text-decoration: none;
            color: white;
            &:visited {
                color: white;
            }
        }
    }

}