// **********************************
//+++++++++++ $BOTONES +++++++++++++++
//***********************************

// CREACION DE BOTONES: ejemplo

.boton {
    display: block;
  width: 300px;
    padding: 1rem 2rem;
    color: white;
    background-color: black ;
    border-radius: 3px;
    text-align: center;

    // esto es ANIDACION. SE RECOMIENDA UTILIZAR POCAS
    // (MAX 3)

    .boton__icon{
        font-size: 3rem;
    }

}

.btn_productos, .descubrenos__contacto{
    display: block;
    margin-top: -4px;
    @extend %btn;
    background-color: black;
    margin-bottom: 20px;
    }

    