// **************************************
//+++++++++++  $FOOTER  ++++++++++++++
//****************************************



footer{
    background-color: black;
    padding-top: 20px;
    padding-bottom: 20px;
    
    & .footer__cajaCentral {
        @include centrarCaja ($ancho: 90%, $mtop:0, $mbottom:0);
        @include media(escritorio) {
            @include flexbox($jc: space-between, $ai:start, $fd:row);
        }

        // DIRECCION Y DATOS
        &__datos {
            color: map-get($colores, blanco);
            @include media(escritorio) {
                width: 33%;
            }
            h6 {
                text-align: center;
                margin-bottom: 10px;
                @include media(escritorio) {
                    text-align: left;
                }
            }
            ul li {
                margin-bottom: 7px;
            }

        }


        //REDES SOCIALES
        &__redessociales {
            @include centrarCaja ($ancho: 100%, $mtop:35px, $mbottom:35px);
            @include media(escritorio) {
                width: 33%;
                margin-bottom: 0px;
                margin-top: 0px;
            }
            h4 {
                color: map-get($colores, blanco);
                margin-bottom: 10px;
                text-align: center;
            }

            &__iconos {
                @extend %flexCentrar;

                &__fb {
                    width: 50px;
                    height: 50px;
                    border: 2px solid map-get($colores, blanco);
                    background-image: url('../fonts/iconos/facebook.svg');
                    background-size: 35%;
                    @extend %icon-background;

                    &:hover {
                        background-color: map-get($colores, redes_sociales);
                    }
                }

                &__tw {
                    width: 50px;
                    height: 50px;
                    border: 2px solid map-get($colores, blanco);
                    background-image: url('../fonts/iconos/twitter.svg');
                    @extend %icon-background;

                    &:hover {
                        background-color: map-get($colores, redes_sociales);
                    }
                }

                &__insta {
                    width: 50px;
                    height: 50px;
                    border: 2px solid map-get($colores, blanco);
                    background-image: url('../fonts/iconos/instagram.svg');
                    @extend %icon-background;

                    &:hover {
                        background-color: map-get($colores, redes_sociales);
                    }
                }
            }
        }

        //ENLACES WEB
        &__enlaces {
            @include flexbox($jc: space-between, $ai:center, $fd:row);
            @include media(escritorio) {
                width: 33%;
            }

            li {
                margin-bottom: 10px;
            }

            a{
                text-decoration: none;
                color: map-get($colores, blanco);

            }

           // @include media(escritorio) {
           //     @include flexbox($jc: center, $ai:center, $fd:row);
          //  }
        }

        li.footer__cajaCentral__enlaces--blog {
            text-align: right;
        }

        span.footer__cajaCentral__linea {
            width: 2px;
            height: 60px;
            background-color: map-get($colores, blanco);

            @include media(escritorio) {
                width: 2px;
                height: 60px;
                margin: 0 50px;

            }
        }
    }
}