// ****************************************
//+++++++++++ $FORMULARIOS +++++++++++++++
//***************************************

.eventos__formulario {

    @include flexbox($jc: space-between, $ai:center, $fd:row);
    flex-wrap: wrap;

    @include media(escritorio) {
        //est6ablece el nombre que se ha asignado en grid-template-areas:  
        grid-row: 1/2;
        grid-column: 2/3;

        display: grid;
        //se empieza con filas rows: asignando los anchos de cada fila
        grid-template-rows: 50px 50px 50px 50px 1fr 50px; //100px 50px 100px;
        //grid-template-columns: 50px 50px 50px;

        // tambien se puede meter fraccions_ 1fr = 1 fraccion
        //grid-template-columns: 1fr 1fr 1fr;
        grid-template-columns: 100px 1fr; // te  crea 3veces de 1 fr

        //espacios entre columnas
        grid-column-gap: 30px;
        //espacio entre filas
        grid-row-gap: 20px;

        &__label__nom {
            //width: 40%;
            //est6ablece el nombre que se ha asignado en grid-template-areas:  
            grid-row: 1/2;
            grid-column: 1/2;
        }

        &__input__nom {
            //width: 40%;
            //est6ablece el nombre que se ha asignado en grid-template-areas:  
            grid-row: 1/2;
            grid-column: 2/3;
        }

        &__label__email {
            //width: 40%;
            //est6ablece el nombre que se ha asignado en grid-template-areas:  
            grid-row: 2/3;
            grid-column: 1/2;
        }

        &__input__email {
            //width: 40%;
            //est6ablece el nombre que se ha asignado en grid-template-areas:  
            grid-row: 2/3;
            grid-column: 2/3;
        }

        &__label__asunto {
            //width: 40%;
            //est6ablece el nombre que se ha asignado en grid-template-areas:  
            grid-row: 3/4;
            grid-column: 1/2;
        }

        &__input__asunto {
            //width: 40%;
            //est6ablece el nombre que se ha asignado en grid-template-areas:  
            grid-row: 3/4;
            grid-column: 2/3;
        }

        &__label__msj {
            //width: 40%;
            //est6ablece el nombre que se ha asignado en grid-template-areas:  
            grid-row: 4/5;
            grid-column: 1/2;
        }

        &__textarea__msj {
            //width: 40%;
            //est6ablece el nombre que se ha asignado en grid-template-areas:  
            grid-row: 4/6;
            grid-column: 2/3;
        }

        &__input__btn {
            //width: 40%;
            //est6ablece el nombre que se ha asignado en grid-template-areas:  
            grid-row: 6/7;
            grid-column: 2/3;
            background-color: map-get($colores, gris_oscuro);
            border: solid 2px map-get($colores, negro);

            @include flexbox($jc:space-between, $ai:center, $fd:row);

            &::after {
                content: "";
                display: block;       
                background-image: url('../fonts/iconos/enviar.svg');
                background-position: center;
                background-size: 80%;
                background-repeat: no-repeat;
                width: 50px;
                height: 50px;
               
            }
            &:hover {
                color: map-get($colores, blanco);
                background-color: map-get($colores, negro);
            
            }
        }

    }


    label {
        display: none;

        @include media(escritorio) {
            display: block;
            width: 100px;
            color: map-get($colores, negro);
        }
    }

    input {
        //display: inline-block;
        height: 50px;

        border: solid 2px map-get($colores, negro);
        border-bottom: none;
        padding: 0px 15px 0px 15px;
        // width: 100%;
    }

    textarea {
        display: block;
        height: 150px;
        border: solid 2px map-get($colores, negro);
        padding: 15px;
        //width: 100%;


    }


    input,
    textarea {
        width: 100%;
        max-width: 500px;

        @include flexbox($jc: space-between, $ai:center, $fd:row);

        @include media(escritorio) {
            width: 100%;
            border: solid 2px map-get($colores, negro);
        }

        /* propiedades al estar sobre un input*/
        &:hover {
            background-color: map-get($colores, blanco);
        }


        /* propiedades visuales por defecto*/
        &::placeholder,
        &::placeholder {
            color: map-get($colores, gris_oscuro);

            font-size: 0.875em;
        }

        /* propiedades visuales al pasar por el campo*/
        &:focus::placeholder,
        &:focus::placeholder {
            color: map-get($colores, negro);
        }

        /* on hover placeholder */
        &:hover::placeholder,
        &:hover::placeholder {
            color: map-get($colores, negro);
            font-size: 16px;

        }

        &:hover:focus::placeholder,
        &:hover:focus::placeholder {
            color: map-get($colores, negro);
            background-color: map-get($colores, blanco);
        }
    }

    input {
        align-self: end;
        justify-self: end;
    }

    &__input__btn{
        width: 100%;
    }


}






/* propiedades visuales del BOTON ENVIAR*/
#submit {
    margin: -5px 0px 0px 0px;
    text-transform: uppercase;
    font-size: 18px;
    background-color: map-get($colores, gris_oscuro);
    border: solid 2px map-get($colores, negro);

    color: map-get($colores, negro);
    outline: none;
    cursor: pointer;
    border: solid 0px map-get($colores, negro);

    //border-top: none;
}


#submit:hover {
    color: map-get($colores, blanco);
    background-color: map-get($colores, negro);

}