// **********************************
//+++++++++++ $MENUS+++++++++++++++*
//**********************************

// por defecto las propiedades van asignadas al movil

header {

    background-color: map-get($colores, negro);

}

.menu {
    position: relative;
    z-index: 10;
    @include flexbox($jc: space-between, $ai:null, $fd:row);
    padding: 30px;

    //position: absolute;

    //------logo-------
    &__logo {
        background-image: url('../fonts/iconos/logo.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        display: inline-block;
        color: map-get($colores, blanco);
        width: 80px;
        height: 80px;

    }

    &__desplegable {
        text-align: right;

        /*- representacion en el escritorio */
        @include media(escritorio) {
            @include flexbox($jc: space-between, $ai:center, $fd:row);
            width: 70%;
        }


        /*------LABEL: icono menu hamburguesa------*/

        &__icono {
            div {
                background-image: url('../fonts/iconos/menu.svg');
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                //color: map-get($colores, blanco);
                width: 50px;
                height: 50px;
                display: inline-block;


                /* estilos para escritorio*/
                /* Desktop elimar el Label*/

                @include media(escritorio) {
                    display: none;
                }
            }
        }



        /* ---estilos de los enlaces del menu */
        &__lista {
            display: none;
            padding-top: 15px;

            /* Desktop Flexbox ----*/
            @include media(escritorio) {
                @include flexbox($jc: flex-end, $ai:center, $fd:row);
                width: 100%;

                & li:nth-child(1) {
                    width: 100px;
                }

                & li:nth-child(2) {
                    width: 180px;
                }

                & li:nth-child(3) {
                    width: 220px;
                }

                & li:nth-child(4) {
                    width: 220px;
                }

            }

            /* --- */

            &__link1,
            &__link2,
            &__link3,
            &__link4 {
                border: solid 2px map-get($colores, blanco);
                border-bottom: none;
                height: 50px;
                width: 225px;
                background-color: map-get($colores, gris_oscuro);


                @include flexbox($jc: center, $ai:center, $fd:row);

                @include media(escritorio) {
                    background-color: map-get($colores, negro);
                    border: none;

                    & li:nth-child(1) {
                        width: 100px;
                        border: 2px solid red;
                    }

                }

                & a {
                    font-size: 18px;
                    text-decoration: none;
                    color: map-get($colores, blanco);
                    text-transform: uppercase;

                    @include media(escritorio) {
                        font-size: 1.2rem;
                    }

                }
            }


            & li:nth-last-child(1) {
                border-bottom: solid 2px map-get($colores, blanco);

                @include media(escritorio) {
                    border: none;

                }
            }
        }


    }

}

a.menu__desplegable__lista__link1__inicio {
    @include media(escritorio) {
        display: none;
    }
}

// desactivar el icono checkbox
#click {
    display: none;

    /* al activar el menu, el menu se colocara en columnas, en vez de una unica fila */
    &:checked+.menu__desplegable__lista {
        @include flexbox($jc: center, $ai:center, $fd:column);
        //position: relative;

        flex-direction: column;
        //margin: 5%;
        align-items: center;

    }

}


.eslogan {
    text-align: center;
    //font-family: 'CourierNewBold';
    font-weight: bold;
    color: white;
    font-size: 1.5rem;
    background-color: black;
    margin: 0px 0;
    //padding-bottom: 50px ;
    padding-left: 5%;
    padding-right: 5%;
    height: 175px;
    @extend %flexCentrar;
    //background-color: ;
        // @include centrarCaja ($ancho: 90%, $mtop:0, $mbottom:0);
        // height: 200px;
        // font-size: 22px;
        // line-height: 35px;
        // text-align: center;

        // @extend %flexCentrar;



        // @include media(escritorio) {
        //     //flex-wrap: wrap;
        //     width: 100%;

        //     font-size: 30px;
        // }
}