/* --------------------------------***------------------------------------- */
/*      Guía de estilos de Youssef Ahmiane          */
/* --------------------------------***------------------------------------- */


/* @font-face {
    font-family: ' ';
    src: local(' '),
         url('../f') format('woff');            
}

@font-face {
font-family: ' ';
src: local(' '),
     url('../ ') format('woff');      
} */

/* ---------------------------Variables------------------- */



/* creacion de variables en css4 */
:root{
    /* COLORES------------------ */
        /* colores de marca */
        --Color-Blanco: #f9f9f9;

        --Color-Gris-Suave: #F8F8F8;
        --Color-Gris-Medio: #b0b0b0;
        --Color-Gris-Dark: #707070;
        

    /* Tipografia-------------------- */

        /* Paragrafos ----------------*/
        --parrafo: 1rem;

        /* propiedades de etiquetas H */
            /* con SEO */
            --h1: 2rem;
            --h2: 1.5rem;
            --h3: 1.2rem;

            /* sin SEO */
            --h4: 0.9rem;
            --h5: 0.6rem;
            --h6: 0.4rem;
    
    /* Tamaños */

    --CentrarMax:1366px;
    --PaddingCentrar: 5%;
    --Espaciado-menu: 1.1 rem;

    /* Medidas */
        /* Centrar */
        --Centrar-width: 85%;
        --Centrar-MaxWidth: 1200px;
}


/* ------------------------ETIQUETAS --------------------*/

html{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 16px;
}
a{
    text-decoration: none;
}