// **********************************
//+++++++++++  $TIPOGRAFIA  ++++++++++++++
//***********************************


@font-face{
    font-family: 'MonserratRegular';
    src: local('MonserratRegular'), url(../fonts/Montserrat-Regular.woff)
    format(woff);
}

@font-face{
    font-family: 'MonserratBold';
    src: local('MonserratBold'), url(../fonts/Montserrat-Bold.woff)
    format(woff);
}

html{
    font-family: 'MonserratRegular', sans-serif;
    font-size: 16px;
    color:map-get($colores, gris);
    background-color:map-get($colores, blanco);
}
